# compiled output and dependencies
/dist/
/tmp
/out-tsc

# dependencies
/node_modules/
/backend/node_modules/


# IDE, OS related files
.idea
.vscode
.DS_Store

package-lock.json
/backend/package-lock.json

# logs
*.log

# testing files
/karma.conf.js
/protractor.conf.js

# Angular CLI configuration files
/angular.json
/.angular-cli.json

# Sass cache
.sass-cache

# environment variables
backend/.env
.env
.env.prod
proxy.conf.json
